body{
    display:flex;
    flex-direction:column;
    padding:0;
    margin:0;
    max-width:100vw;
    color:#f5bd6a;
}

nav{
    width:100%;
    height:10vh;
    margin:0 auto;
    padding:0;
    flex-direction:row;
}

img.nav-icon{
    width:110px;
    height:auto;
    margin-left: 25px;
}

ul.nav-links{
    float:right;
    font-size:115%;
    margin-top:35px;
    margin-right:75px;
    padding:0;
    list-style:none;
    align-self:center;
    padding:0;
}
.nav-links li{
    display:inline-block;
}

a:link, a:visited{
    color:#f5bd6a;
    text-decoration:none;
    padding-right:5px;
    transition: color 0.2s, background 0.2s;
}
a:hover{
    color:#4d5774;
    text-decoration:underline;
    transition: color 0.2s, background 0.2s;
}

.btn:link, .btn:visited{
    background-color: #4d5774;
    color:#f5bd6a;
    padding:5px;
    border-radius:25px;
    font-size:125%;
}
.btn:hover{
    color:#4d5774;
    background-color: #f5bd6a;
    text-decoration:none;
}

header{
    max-width:100vw;
    margin:0;
    padding:0;
    height:100vh;
    background-color: #301f05;
}

.main-bg{
    background-image:linear-gradient(rgba(0, 0, 0, 0.55)), url(img/Underdog.png);
    background-size: cover;
}

.main-title{
    max-width:1140px;
    height:50%;
    margin:0 auto;
    margin-top:15%;
    color:#f5bd6a;
}

.main-title h1{
    font-size:500%;
    margin:0;
    padding:0;
}

.main-title h2{
    margin:0;
    padding:0;
    margin-bottom:2%;
    font-size:250%;
}

.show-more{
    text-align:center;
    padding:0;
    margin:0 auto;
    height:12%;
}
.show-more h3{
    margin:0;
    padding:0;
}
.show-more:link, .show-more:visited{
    color:#f5bd6a;
    font-style:none;
}
.show-more:hover{
    color:#4d5774;
    font-style:none;
}
.show-more ion-icon{
    font-size:150%;
}


.account-form{
    max-width:1140px;
    margin:0 auto;
    padding:1%;
    padding-bottom:5%;
    background-color: #4d5774;
    height: auto;
    text-align:center;
    font-size:150%;
    border-radius:10px;
}
.account-form input{
    font-size:125%;
    width:75%;
}
.sign-up{
    margin:0 auto;
    padding:0;
}
.btn-account{
    background-color: #f5bd6a;
    color:#4d5774;
    border: 2px solid #4d5774;
    border-radius:25px;
}
.btn-account:hover{
    color:#f5bd6a;
    background-color:#4d5774;
    border: 2px solid #f5bd6a;
}
input[type="submit"]:hover{
    transition:background 0.2s, color 0.2s;
}
input[type="submit"]{
    transition:background 0.2s, color 0.2s;
    width:25%;
}
input[type="checkbox"]{
    width:2%;
    transform: scale(2);
}
label[for="newsletter"]{
    font-size:75%;
}
.newsletter-box{
    width:50%;
    text-align:left;
}
.focalpoint{
    height:auto;
}