body{
    margin:0;
    padding:0;
}
.focalpoint{
    height:100vh;
}
.standalone{
    background-color:#f5bd6a;
    
}
.standalone a{
    color:#4d5774;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.nav-icon {
    width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    color:  #4d5774;
}
.menu{
    width:100vw;
    height:auto;
}
main{
    background-color: #becbf5;
    height:auto;
    margin:0;
    padding:0;
    color:#4d5774;
}
.menu-page h1{
    text-align:center;
    color: #4d5774;
}
.menu{
    max-width:1140px;
    display:flex;
    flex-direction:row;
    height:auto;
    margin:0 auto;
    padding:2% 0;
    justify-content:center;
}
.menu-item{
    width:25%;
    background-color: #f5bd6a;
    padding:1%;
    margin:1%;
    color:#301f05;
}
.menu-img{
    margin:0;
    padding:0;
}
.item-photo{
    width:100%;
}
.btn-order:link, .btn-order:visited{
    color:white;
}
.btn-order:hover{
    background-color: #301f05;
    color: white;
}
.cart-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    max-width:1140px;
    margin:0 auto;
    padding:0;
    gap:2%;
}
.cart-list{
    width:45%;
}
.cart-item{
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content: center;
    gap:5%;
    background-color: #f5bd6a;
    padding:0;
    margin:0;
    color:#301f05;
}
.cart-photo{
    width:20%;
    margin:0;
    padding:0;
    align-content:center;
}
.text-container{
    margin:0;
    padding:0;
    align-content:center;
}
.item-del{
    display:flex;
    height:50px;
    margin:0;
    margin-left:25%;
    align-self:center;
    align-items: center;
}
.price-total{
    background-color: #4d5774;
    color:#f5bd6a;
    width:45%;
    height:auto;
    justify-content: center;
    margin:0;
    padding:0;
}
.added-price p{
    padding:0;
    margin:0;
    margin-left:5%;
}
.added-price h2{
    padding:0;
    margin:2%;
    margin-left: 5%;
}
.added-price h1{
    padding:0;
    margin:2%;
    margin-left:5%;
}
.added-price hr{
    width: 95%;
}