body{
    display:flex;
    flex-direction:column;
    padding:0;
    margin:0;
    max-width:100vw;
    background-color: rgb(0, 0, 0);
}

nav{
    width:100%;
    height:10vh;
    margin:0 auto;
    padding:0;
    flex-direction:row;
}

img.nav-icon{
    width:90px;
    height:auto;
}

ul.nav-links{
    float:right;
    font-size:115%;
    margin-top:35px;
    margin-right:25px;
    padding:0;
    list-style:none;
    align-self:center;
    padding:0;
}
.nav-links li{
    display:inline-block;
    color:white;
}
a:link, a:hover, a:visited{
    color:white;
}

header{
    max-width:100vw;
    margin:0;
    padding:0;
    height:90vh;
    background-image
}

.main-title{
    max-width:1140px;
    margin:0 auto;
    margin-top:15%;
}

.main-title h1{
    font-size:500%;
    margin:0;
    padding:0;
}